<div class="h-100 bg-plum-plate bg-animation">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="app-logo-inverse mx-auto mb-3"></div>
      <div class="modal-dialog w-100 mx-auto">
        <div class="modal-content">
          <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <div class="h5 modal-title text-center">
              <h4 class="mt-2">
                <div>Recover your Password?</div>
                <span>Use the form below to recover it.</span>
              </h4>
            </div>
            <div *ngIf="errorMessage" class="text-danger font-weight-bold">{{errorMessage}}</div>
            <div class="position-relative form-group form-group-berger">
                <label class="required mb-0">Password</label>
                <div class="input-group">
                  <input [type]="newPasswordTextType ? 'text' : 'password'" autocomplete="off" class="form-control form-control-berger" formControlName="newPassword" placeholder="New Password"
                      [ngClass]="{'is-valid':ufControls.newPassword.touched && !ufControls.newPassword.errors,
                      'is-invalid':ufControls.newPassword.touched && ufControls.newPassword.errors }" />
                    
                </div>
                <small class="text-danger" *ngIf="ufControls.newPassword.touched && ufControls.newPassword.errors">
                    <span *ngIf="ufControls.newPassword.errors.required">New Password is <strong>required</strong></span>
                </small>
            </div>
            <div class="position-relative form-group form-group-berger">
                <label class="required mb-0">Confirm Password</label>
                <div class="input-group">
                  <input [type]="confirmPasswordTextType ? 'text' : 'password'" autocomplete="off" class="form-control form-control-berger" formControlName="confirmPassword" placeholder="Confirm Password"
                      [ngClass]="{'is-valid':ufControls.confirmPassword.touched && !ufControls.confirmPassword.errors,
                      'is-invalid':ufControls.confirmPassword.touched && ufControls.confirmPassword.errors }" />
                </div>
                <small class="text-danger" *ngIf="ufControls.confirmPassword.touched && ufControls.confirmPassword.errors">
                    <span *ngIf="ufControls.confirmPassword.errors.required">Confirm Password is <strong>required</strong></span>
                    <span *ngIf="ufControls.confirmPassword.errors.mustMatch">Password & Confirm Password <strong>must be match</strong></span>
                </small>
            </div>
            <div class="text-center my-3">
              <button type="submit" [disabled]="isLoading || resetPassForm.invalid" class="btn btn-primary btn-lg" style="min-width: 180px;">
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
                {{isLoading?'Loading...':'Submit'}}
              </button>
        </div>
          </div>
        </form>
        </div>
      </div>
      <div class="text-center text-white opacity-8 mt-2">
          Copyright © Berger
      </div>
    </div>
  </div>
</div>