<div class="modal-header">
    <h4 class="modal-title">{{product.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            {{product.name}}
        </div>
        <div class="col-md-6">
            {{product.description}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{product.isActive}}
        </div>
        <div class="col-md-6">
            <img [src]="product.imageUrl" width="50%" height="auto"/>
            {{product.imageUrl}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>