<div class="col col-lg-12">  
    <app-p-table [pTableSetting]="ptableSettings" [pTableMasterData]="complainList"
    (cellClickCallbackFn)="fnViewComplain($event)" (customActivityOnRecord)="fnCustomTrigger($event)">
    </app-p-table>
  </div>
