<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">{{getComponentTitle()}}</div>
    </div>
    <div class="card-body" *ngIf="termsConditionsForm">
        <form [formGroup]="termsConditionsForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <label class="required">Description</label>
                        <textarea autocomplete="off" class="form-control" formControlName="description" rows="6"
                               [ngClass]="{'is-valid':dfControls.description.touched && !dfControls.description.errors,
                               'is-invalid':dfControls.description.touched && dfControls.description.errors }"></textarea>
                        <small class="text-danger" *ngIf="dfControls.description.touched && dfControls.description.errors">
                            <span *ngIf="dfControls.description.errors.required">Description is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="goBack()"><i class="pe-7s-back pr-1"></i> Back </button>
                <button type="submit" [disabled]="termsConditionsForm.invalid" class="mb-2 btn btn-primary"><i class="fa fa-save pr-1"></i> Save </button>
            </div>
        </form>
    </div>
</div>
