<div class="card-shadow-warning border mb-3 card card-body border-warning">
    <h5 class="card-title"><strong>Loyalty Program Point Settings</strong></h5>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <p><span><strong>Product Cost : </strong></span> {{loyaltyProgramPoint.productCost}}</p>
                <p><span><strong>Painter Cost : </strong></span> {{loyaltyProgramPoint.painterCost}}</p>
                <p><span><strong>Supervision Charge : </strong></span> {{loyaltyProgramPoint.supervisionCharge}}</p>
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-end">
        <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-info" (click)="editloyaltyProgramPoint()">
            <i class="pe-7s-back pr-1"></i> Edit </button>
    </div>
</div>