<div class="h-100 bg-plum-plate bg-animation">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="modal-dialog w-100 mx-auto">
        <div class="modal-content">
          <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">
              <div class="text-center">
                <img class="logo-img" src="./assets/images/logo.png" alt="Logo" width="150" height="110">
              </div>
              <div class="h5 modal-title text-center">
                <h4 class="mt-3">
                  <div>Recover Password</div>
                </h4>
              </div>
              <div *ngIf="errorMessage" class="text-danger font-weight-bold">{{errorMessage}}</div>
              <div class="position-relative form-group form-group-berger">
                <label class="required mb-0">Email</label>
                <input type="text" autocomplete="off" class="form-control form-control-berger" formControlName="email"
                  placeholder="Email" [ngClass]="{'is-valid':ufControls.email.touched && !ufControls.email.errors,
                       'is-invalid':ufControls.email.touched && ufControls.email.errors }" />
                <small class="text-danger" *ngIf="ufControls.email.touched && ufControls.email.errors">
                  <span *ngIf="ufControls.email.errors.required">Email is <strong>required</strong></span>
                  <span *ngIf="ufControls.email.errors.email"><strong>Invalid</strong> email</span>
                </small>
              </div>
              <div class="text-center my-3">
                <button type="submit" [disabled]="isLoading || forgotPassForm.invalid"
                  class="btn btn-primary btn-lg" style="min-width: 180px;">
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
                  {{isLoading?'Loading...':'Submit'}}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center text-white opacity-8 mt-3">
        Copyright © Berger
      </div>
    </div>
  </div>
</div>