<div class="d-flex">
  <div class="header-btn-lg pr-0">
    <div class="widget-content p-0">
      <div class="widget-content-wrapper">
        <div class="widget-content-left">
          <div class="btn-group" ngbDropdown placement="bottom-right">
            <button type="button" class="btn btn-link p-0 mr-2" ngbDropdownToggle>
              <span>
                <div class="icon-wrapper icon-wrapper-alt rounded-circle">
                  <img width="42" src="./assets/images/no-image.jpg" alt="" class="rounded-circle">
                </div>
              </span>
            </button>
            <div ngbDropdownMenu>
              <!-- <button mat-raised-button *ngIf="!loggedIn" (click)="login()">Login</button> -->
              
              <h6 class="dropdown-header">{{user?.fullName}}</h6>
              <!-- <button class="dropdown-item">Actions</button> -->
              <div class="dropdown-divider"></div>
              <button class="mb-2 mr-2 btn btn-warning ml-4 " (click)="logout()">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

