
<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Color Code List</div>
        <div class="btn-actions-pane-right">
            <button type="button" class="mb-2 mr-2 btn-transition btn btn-outline-info" (click)="openExcelImportModal()" >
                <i class="mr-2 fa fa-file-excel-o"></i>
                Import Color Code
            </button>
           
            <button type="button" class="mb-2 mr-2 btn-transition btn btn-outline-success" (click)="newColorCode()">
                <i class="mr-2 fa fa-plus"></i>
                Create New
            </button>
        </div>
    </div>
    <div class="col col-md-12">
        <app-p-table [pTableSetting]="ptableSettings" [pTableMasterData]="colorCodes"
                    (customActivityOnRecord)="fnCustomTrigger($event)">
        </app-p-table>
    </div>
</div>
