.p-table thead {
    background-color: #00ADEF;
}

.p-table-header,
.panel-heading,
.p-table-footer {
    padding: 5px;
}
.p-table-header {
    border-bottom: 1px solid rgba(44, 66, 64, 0.125);
    margin-bottom: 7px;
}

.p-table-body {
    padding: 0px!important;
}

.p-table-content {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
    margin-bottom: 20px;
    border-top: 5px solid #00ADEF;
    border-radius: 5px;
}

.p-table {
    margin-bottom: 0px!important;
    width: 100%;
}

.p-table .p-table-body .table-bordered>tbody>tr>td {
    line-height: 30px;
}

.table td {
    padding: 0.30rem!important;
}

.p-table {
    font-size: 12px;
}

.p-table-footer {
    font-size: 14px;
}

.p-table-footer .pagination {
    margin: 0px!important;
}

.search-table {
    margin-right: 0px!important;
    padding: 5px 0px 5px 0px!important;
}

.p-table-content .p-table-footer .p-table-aro-first {
    left: -6px !important;
}

.p-table-content .p-table-footer .p-table-aro-last {
    right: -6px !important;
}

.p-table-content .search-table .has-feedback {
    margin-bottom: 0px !important;
}

.p-table th.p-table-row-checkbox {
    /*width:60px !important;*/
    min-width: 5% !important;
    text-align: center;
}

.col-setting-title {
    padding: 2px;
    margin: 5px;
}

.p-table-column-up-arrow {
    color: #00ADEF!important;
    font-size: 16px;
    cursor: pointer;
}

.p-table-column-down-arrow {
    color: #00ADEF;
    font-size: 1px;
    cursor: pointer;
}

.p-table thead th {
    vertical-align: middle;
    padding-left: 5px!important;
}

.p-table-action-button {
    font-size: 14px;

}

.btn-column-setting {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #00ADEF;
    margin-right: 5px;
    border-radius: 5px;
    color: #00ADEF;
    transition:all 0.3s;
}

.btn-column-setting:hover {
    background: #00ADEF;
    color: #fff;
}

span.sort-icon {
    display: block;
    position: absolute;
    top: 33%;
    right: -4px;
    margin: 0;
    width: 18px;
    height: 18px;
    padding: 0;
}

.p-table thead th.sorting span.sort-icon {
    background-image: url("/assets/images/sort_both.png") !important;
    background-repeat: no-repeat !important;
    background-position: center right!important;
}

.p-table thead th.sorting-up span.sort-icon {
    background-image: url("/assets/images/sort_asc.png")!important;
    background-repeat: no-repeat!important;
    background-position: center right!important;
}

.p-table thead th.sorting-down span.sort-icon {
    background-image: url("/assets/images/sort_desc.png")!important;
    background-repeat: no-repeat!important;
    background-position: center right!important;
}

.p-table-content .panel-title {
    font-size: 20px;
}


/*New tabular property*/

.p-table-footer .pagination>li>a,
.p-table-footer .pagination>li>span {
    padding: 6px 10px !important;
}


/*p-table header default color set*/

.p-table-body .p-table thead tr {
    background: linear-gradient(143.88deg, #00ACF3 10.16%, #03EAA2 141.14%);
}
.p-table-body .p-table thead th {
    color: #fff;
    border: none;
    padding: 0px;
    padding-top: 9px;
    padding-bottom: 8px;
    border-right: 1px solid #fff;
    text-align: center;
    font-size: 12px;
}

.p-table-overflow-x {
    overflow-x: auto !important;
    overflow-y: hidden;
}

.p-table-overflow-y {
    overflow-y: auto !important;
    overflow-x: hidden;
}


/*Individual record color css*/

.p-table tr.individual-ptable-record-A td {
    background: #d3f8d3 !important;
}

.p-table tr.individual-ptable-record-A:hover td {
    background: #d3f8d3 !important;
}

.p-table tr.individual-ptable-record-Fail-Target td {
    background: #FF5050 !important;
}

.p-table tr.individual-ptable-record-Fail-Target td:hover {
    background: #FF5050 !important;
}

.p-table tr.ptable-total-row td {
    background: #e8edff !important;
}

.p-table tr.ptable-total-row:hover td {
    background: #e8edff !important;
}


/*end of Individual record color css*/


/*   for column resize    */

.p-table thead tr th {
    position: relative;
}

span.p-table-column-resizer {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 8px;
    height: 100%;
    padding: 0;
    cursor: col-resize;
    border: 1px solid transparent;
}


/*   end of column resize    */


/*    for custom filter */

.p-table-custom-column-filter {
    position: absolute;
    /* position: fixed; */
    /*height: 340px;*/
    min-height: 225px;
    max-height: 349px;
    width: 288px;
    background-color: #fff;
    display: none;
    z-index: 999999999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.p-table-column-filter-title {
    padding: 8px 10px;
    margin: 0;
    font-size: 14px;
    background-color: #e2ede4;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    margin-bottom: 5px;
    margin-top: 1px;
    height: 32px;
}

.p-table-column-filter-footer {
    padding-top: 1px;
    padding-bottom: 5px;
}

label.checkbox-inline {
    clear: right;
}

.filterd-data {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    min-height: 85px !important;
    max-height: 215px !important;
    overflow-y: auto;
    overflow-x: auto;
}

.filter-popup-remove-icon {
    color: red;
    font-size: 11px;
    margin-left: -9px !important;
}

li.dragable {
    font-weight: 500;
    background-color: #e7e7e7;
    padding: 5px;
    width: 200px;
    list-style: none;
    cursor: move;
}

li.dragable:hover {
    color: #00ADEF;
}

div.dragable-content {
    padding: 5px;
}

ul.ul-dragable {
    padding-left: 0px;
}

.p-table-custom-column-filter .arrow_box {
    position: relative;
    border: 4px solid #E8F5E9!important;
    border-radius: 5px 5px 0 0;
}

.p-table-custom-column-filter .arrow_box:after,
.p-table-custom-column-filter .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.p-table-custom-column-filter .arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #E8F5E9!important;
    background-color: transparent;
    border-width: 20px;
    margin-left: -20px;
}

.p-table-custom-column-filter .arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 36px;
    margin-left: -36px;
}


/*  end of custom filter  */


/* start of  reflow */

.reflow-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    top: 0px;
    left: 0px;
    transition: 0.7s;
    z-index: 99999;
}

.reflow-content {
    margin: 1em auto;
    overflow: visible;
}

.reflow-icon {
    color: #00ADEF;
    font-weight: bold;
}

.reflow-btn {
    background-color: transparent;
    border-radius: 10px;
    margin-left: 5px;
}


/*End of reflow */

.p-table-custom-filter-icon {
    font-size: 18px;
}

.p-table-content .nav>li>a {
    padding: 3px 3px;
    font-weight: bold;
}

.p-table-edit-icon {
    font-size: 18px;
    padding: 3px;
    background-color: transparent;
    padding-right: 8px;
    cursor: pointer;
}

.p-table-delete-icon {
    font-size: 18px;
    color: #da9297!important;
    background-color: transparent;
    padding: 3px;
    cursor: pointer;
}
.p-table .page-item.active .page-link


/* checkbox- switch*/

.p-table-scroll-body .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 22px;
    padding: 0px;
    margin: 0px;
}

.p-table-scroll-body .switch input {
    display: none;
}

.p-table-scroll-body .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.p-table-scroll-body .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.p-table-scroll-body input:checked+.slider {
    background-color: green;
}

.p-table-scroll-body input:focus+.slider {
    box-shadow: 0 0 1px green;
}

.p-table-scroll-body input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.p-table-scroll-body .slider.round {
    border-radius: 28px;
}

.p-table-scroll-body .slider.round:before {
    border-radius: 50%;
}


/* Rounded sliders */

.p-table-scroll-body .slider.round {
    border-radius: 34px;
}

.p-table-scroll-body .slider.round:before {
    border-radius: 50%;
}


/*Custome color not component */


/*Rejected*/

.individual-ptable-record-Rejected td {
    background-color: #F5CDCD !important;
}


/*Accepted*/

.individual-ptable-record-Accepted td {
    background-color: #DCF5DC !important;
}


/*Ignored*/

.individual-ptable-record-Ignored td {
    background-color: #F8E8BA !important;
}

.p-table-custom-button {
    padding: 0.037rem 0.75rem!important;
    cursor: pointer;
}

.p-table-href-link {
    color: #005A9C!important;
    font-weight: bold;
    font-size: 13px;
}

.p-table-href-link:hover {
    color: #005A9C!important;
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline!important;
    cursor: pointer;
}

select {
    background: #00ADEF;
    color: #fff;
    border: 1px solid #00ADEF;
}

@media only screen and (max-width: 576px) {
    .p-table-scroll-body {
        overflow-y: scroll!important;
    }
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

.styletable {
    width: 100%;
    overflow: auto !important;
}

@media only screen and (max-width: 576px) {
    .p-table-scroll-body {
        overflow-y: scroll!important;
    }
}
.table.p-table td {
    border: 1px solid #ffffff;
}
.p-table-footer .page-item.active .page-link {
    background-color: #00ADEF;
    border-color: #00ADEF;
}
.filter-button{
    border-radius: 0;
    padding: 3px 10px;
    border: 1px solid #00ADEF;
    color: #00ADEF;
}