<div class="col col-lg-12">  
    <app-p-table [pTableSetting]="ptableSettings" [pTableMasterData]="divisionList"
      (customActivityOnRecord)="fnCustomTrigger($event)">
    </app-p-table>
  </div>
