

<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Division Form</div>
    </div>
    <div class="card-body">
        <form #divisionForm="ngForm" (submit)="saveDivision()">
            
            
             <div class="form-row">

                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <label for="Type">Division Name</label>
                        <input required name="name" #name="ngModel" placeholder=""
                               type="text" class="form-control"
                               [ngClass]="{'is-valid':name.valid,'is-invalid':name.invalid && name.touched }"
                               [(ngModel)]="divisionModel.name" />
                        <small class="text-danger" [class.d-none]="name.valid || name.untouched">
                            Name is required
                        </small>
                    </div>
                </div>

            </div>
            <div class="form-row">

                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="isActive" name="isActive" #isActive="ngModel" 
                                [(ngModel)]="divisionModel.isActive" class="custom-control-input" />
                            <label for="isActive" class="custom-control-label">
                                Active
                            </label>
                        </div>
                    </div>
                </div>

            </div>   
        
            
           
            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="backToTheList()"><i class="pe-7s-back pr-1"></i> Back </button>
                <button [disabled]="!divisionForm.valid" type="submit" class="mb-2 btn btn-primary"><i class="fa fa-save pr-1"></i> Save </button>
            </div>
            
        
        </form>
    </div>
</div>


