<div class="h-100 bg-plum-plate bg-animation">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="app-logo-inverse mx-auto mb-3"></div>
      <div class="modal-dialog w-100 mx-auto">
        <div class="modal-content">
          <div class="modal-body">
            <div class="h5 modal-title text-center">
              <h4 class="mt-2">
                <div>Password has been successfully changed.</div>
                <span>Please login to your account to access.</span>
              </h4>
            </div>
          </div>
          <div class="modal-footer">
              <a [routerLink]="['/auth/login']" class="btn btn-primary btn-block">Go to Login</a>
          </div>
        </div>
      </div>
      <div class="text-center text-white opacity-8 mt-3">
          Copyright © Berger
      </div>
    </div>
  </div>
</div>