

<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">{{getComponentTitle()}}</div>
    </div>
    <div class="card-body">
        <form [formGroup]="faqForm" *ngIf="faqForm" (submit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">FAQ Type</label>
                        <ng-select formControlName="faqType" (change)="onFaqTypeChange($event)">
                            <ng-option *ngFor="let type of faqTypes;" [value]="type.value">
                                {{type.text}}
                            </ng-option>
                        </ng-select>
                        <small class="text-danger" *ngIf="dfControls.faqType.touched && dfControls.faqType.errors">
                            <span *ngIf="dfControls.faqType.errors.required">FAQ type is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Sequence</label>
                        <input formControlName="sequence" step="1" min="1"
                               type="number" class="form-control"
                               [ngClass]="{'is-valid':dfControls.sequence.touched && !dfControls.sequence.errors,
                               'is-invalid':dfControls.sequence.touched && dfControls.sequence.errors }"
                               [(ngModel)]="faqModel.sequence" />
                        <small class="text-danger" *ngIf="dfControls.sequence.touched && dfControls.sequence.errors">
                            <span *ngIf="dfControls.sequence.errors.required">Sequence is <strong>required</strong></span>
                            <span *ngIf="dfControls.sequence.errors.min">Sequence must be <strong>positive</strong></span>
                        </small>
                    </div>
                </div>
             </div>
             <div class="form-row">
                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <label class="required">Question Title</label>
                        <input formControlName="questionTitle"
                               type="text" class="form-control"
                               [ngClass]="{'is-valid':dfControls.questionTitle.touched && !dfControls.questionTitle.errors,
                               'is-invalid':dfControls.questionTitle.touched && dfControls.questionTitle.errors }"
                               [(ngModel)]="faqModel.questionTitle" />
                        <small class="text-danger" *ngIf="dfControls.questionTitle.touched && dfControls.questionTitle.errors">
                            <span *ngIf="dfControls.questionTitle.errors.required">Question title is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
             </div>
             <div class="form-row">
                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <label class="required">Answer</label>
                        <textarea formControlName="questionAnswer" class="form-control"
                               [ngClass]="{'is-valid':dfControls.questionAnswer.touched && !dfControls.questionAnswer.errors,
                               'is-invalid':dfControls.questionAnswer.touched && dfControls.questionAnswer.errors }"
                               [(ngModel)]="faqModel.questionAnswer"></textarea>
                        <small class="text-danger" *ngIf="dfControls.questionAnswer.touched && dfControls.questionAnswer.errors">
                            <span *ngIf="dfControls.questionAnswer.errors.required">Answer is <strong>required</strong></span>
                        </small>
                    </div>
                </div>

            </div>         
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="isActive" 
                                formControlName="isActive" class="custom-control-input" />
                            <label for="isActive" class="custom-control-label">
                                Active
                            </label>
                        </div>
                      </div>
                </div>
            </div>            
           
            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="goBack()"><i class="pe-7s-back pr-1"></i> Back </button>
                <button [disabled]="faqForm.invalid" type="submit" class="mb-2 btn btn-primary"><i class="fa fa-save pr-1"></i> Save </button>
            </div>
            
        
        </form>
    </div>
</div>


