<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">{{getComponentTitle()}}</div>
    </div>
    <div class="card-body" *ngIf="paintingServiceForm">
        <form [formGroup]="paintingServiceForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-6">
                    <label>Surface Type</label>
                    <ng-select formControlName="surfaceType" (change)= "changeProduct()"
                    [ngClass]="{'is-valid':dfControls.surfaceType.touched && !dfControls.surfaceType.errors,
                    'is-invalid':dfControls.surfaceType.touched && dfControls.surfaceType.errors }">
                        <ng-option *ngFor="let type of surfaceTypes" [value]="type.value">
                            {{type.text}}
                        </ng-option>
                    </ng-select>
                    <small class="text-danger" *ngIf="dfControls.surfaceType.touched && dfControls.surfaceType.errors">
                        <span *ngIf="dfControls.surfaceType.errors.required">Surface Type is <strong>required</strong></span>
                    </small>
                </div>
                <div class="col-md-6">
                    <label>Surface Condition</label>
                    <ng-select formControlName="surfaceCondition"
                    [ngClass]="{'is-valid':dfControls.surfaceCondition.touched && !dfControls.surfaceCondition.errors,
                    'is-invalid':dfControls.surfaceCondition.touched && dfControls.surfaceCondition.errors }">
                        <ng-option *ngFor="let type of surfaceConditions" [value]="type.value">
                            {{type.text}}
                        </ng-option>
                    </ng-select>
                    <small class="text-danger" *ngIf="dfControls.surfaceCondition.touched && dfControls.surfaceCondition.errors">
                        <span *ngIf="dfControls.surfaceCondition.errors.required">Surface Condition is <strong>required</strong></span>
                    </small>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label>Package</label>
                    <ng-select formControlName="package"
                    [ngClass]="{'is-valid':dfControls.package.touched && !dfControls.package.errors,
                    'is-invalid':dfControls.package.touched && dfControls.package.errors }">
                        <ng-option *ngFor="let type of packages" [value]="type.value">
                            {{type.text}}
                        </ng-option>
                    </ng-select>
                    <small class="text-danger" *ngIf="dfControls.package.touched && dfControls.package.errors">
                        <span *ngIf="dfControls.package.errors.required">Package is <strong>required</strong></span>
                    </small>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Product</label>
                        <ng-select formControlName="productId"
                        [ngClass]="{'is-valid':dfControls.productId.touched && !dfControls.productId.errors,
                        'is-invalid':dfControls.productId.touched && dfControls.productId.errors }">
                            <ng-option *ngFor="let type of products" [value]="type.value">
                                {{type.text}}
                            </ng-option>
                        </ng-select>
                        <small class="text-danger" *ngIf="dfControls.productId.touched && dfControls.productId.errors">
                            <span *ngIf="dfControls.productId.errors.required">Product is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label class="required">Rate/Sft(BDT)</label>
                        <input type="number" id="ratePerSft" formControlName="ratePerSft" class="form-control" 
                        [ngClass]="{'is-valid':dfControls.ratePerSft.touched && !dfControls.ratePerSft.errors,
                        'is-invalid':dfControls.ratePerSft.touched && dfControls.ratePerSft.errors }"/>
                        <small class="text-danger" *ngIf="dfControls.ratePerSft.touched && dfControls.ratePerSft.errors">
                            <span *ngIf="dfControls.ratePerSft.errors.required">Rate/Sft is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label class="required">Additonal Rate/Sft for 7-9th floor(BDT)</label>
                        <input type="number" id="sevenToNine" formControlName="sevenToNine" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label class="required">Additonal Rate/Sft above 9th floor(BDT)</label>
                        <input type="number" id="aboveNine" formControlName="aboveNine"
                            class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="isActive" 
                                formControlName="isActive" class="custom-control-input" />
                            <label for="isActive" class="custom-control-label">
                                Active
                            </label>
                        </div>
                      </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="goBack()"><i class="pe-7s-back pr-1"></i> Back </button>
                <button type="submit" [disabled]="paintingServiceForm.invalid" class="mb-2 btn btn-primary"><i class="fa fa-save pr-1"></i> Save </button>
            </div>
        </form>
    </div>
</div>
