<!-- <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title> -->

<div class="row form-row">
  <div class="col-md-3">
    <div class="card-berger bg-orange">
      <div class="flex-left"><span class="card-number">{{dashboard.serviceRequestCurrentDay}}</span></div>
      <div class="flex-right"><span class="card-text ">Service Request<br>(Today)</span></div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-berger bg-blue">
      <div class="flex-left"><span class="card-number">{{dashboard.serviceRequestCurrentWeek}}</span></div>
      <div class="flex-right"><span class="card-text ">Service Request<br>(Current Week)</span></div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-berger bg-purple">
      <div class="flex-left"><span class="card-number">{{dashboard.serviceRequestCurrentMonth}}</span></div>
      <div class="flex-right"><span class="card-text ">Service Request<br>(Current Month)</span></div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-berger bg-green">
      <div class="flex-left"><span class="card-number">{{dashboard.newAppUserRegisterCurrentMonth}}</span></div>
      <div class="flex-right"><span class="card-text ">Users Registration<br>(Current Month)</span></div>
    </div>
  </div>
</div>
<div class="graph-tab p-3 bg-white rounded">
  <ngb-tabset type="pills">
    <ngb-tab title="Service Request">
      <ng-template ngbTabContent>
        <!-- <img src="./assets/images/graph1.png" alt="Tab image"> -->
        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor" [options]="serviceRequestChartOptions"
          [callbackFunction]="chartCallback" [(update)]="updateFlag" [oneToOne]="oneToOneFlag"
          [runOutsideAngular]="runOutsideAngularFlag" style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="New App Users Registrations">
      <ng-template ngbTabContent>
        <!-- <img src="./assets/images/graph2.png" alt="Tab image"> -->
        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor" [options]="newAppUserRegisterChartOptions"
          [callbackFunction]="chartCallback" [(update)]="updateFlag" [oneToOne]="oneToOneFlag"
          [runOutsideAngular]="runOutsideAngularFlag" style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<div class="dashboard-table bg-white rounded mt-3">
  <h5 class="p-3 mb-0 font-weight-bold">Top App User Points</h5>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of dashboard.topAppUsers">
        <td>{{user.fullName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.points}}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <a class="btn btn-info px-4 text-white" (click)="viewAppUserReports()">View Reports</a>
  </div>
</div>