// User Pages

.app-logo {
    height: $logo-height;
    width: $logo-width;
    background: url('./assets/images/logo.png');
}

.app-logo-inverse {
  height: $logo-height;
  width: $logo-width;
  background: url('./assets/images/logo.png') no-repeat;
}

.app-login-box {
  .app-logo {
    margin-bottom: 16px;
  }
  .modal-body{
    padding: 25px 40px 30px;
  }

  h4 {
    font-family: Roboto;
    margin-bottom: 12px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #242021;

    span {
      font-size: $font-size-lg;
      font-weight: normal;
    }
  }
  .form-group-berger {
    label{
      font-size: 15px;
      line-height: 22px;
      color: #242021;
      font-weight: bold;
      &.login-checkbox{
        font-weight: 500;
      }
    }
  }
  .form-control-berger{
    border:0;
    border-bottom: 1px solid #242021;
    border-radius: 0;
    padding-left: 0;
    &::placeholder{
      color: #AEAEAE;
      font-size: 14px;
    }
    &:focus{
      box-shadow: none;
    }
  }
  .login-checkbox{
    line-height: 22px;
  }
  .btn-primary{
    background: linear-gradient(74.51deg, #32D9FF 7.22%, #00ADEF 50.29%, #B87BEC 103.37%);
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    padding: 15px;
    border-radius: 50px;
  }
  .btn-recover{
    color: #666666;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }
}
