<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">{{getComponentTitle()}}</div>
    </div>
    <div class="card-body" *ngIf="benefitForm">
        <form [formGroup]="benefitForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <label class="required">Benefit Name</label>
                        <input type="text" autocomplete="off" class="form-control" formControlName="name" [ngClass]="{'is-valid':dfControls.name.touched && !dfControls.name.errors,
                               'is-invalid':dfControls.name.touched && dfControls.name.errors }" />
                        <small class="text-danger" *ngIf="dfControls.name.touched && dfControls.name.errors">
                            <span *ngIf="dfControls.name.errors.required">Name is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Category</label>
                        <ng-select formControlName="settingId">
                            <ng-option *ngFor="let category of settings;" [value]="stringToInt(category.value)">
                                {{category.text}}
                            </ng-option>
                        </ng-select>
                        <small class="text-danger" *ngIf="dfControls.settingId.touched && dfControls.settingId.errors">
                            <span *ngIf="dfControls.settingId.errors.required">Category is
                                <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Sequence</label>
                        <input formControlName="sequence" step="1" min="1" type="number" class="form-control" [ngClass]="{'is-valid':dfControls.sequence.touched && !dfControls.sequence.errors,
                           'is-invalid':dfControls.sequence.touched && dfControls.sequence.errors }"
                            [(ngModel)]="benefit.sequence" />
                        <small class="text-danger" *ngIf="dfControls.sequence.touched && dfControls.sequence.errors">
                            <span *ngIf="dfControls.sequence.errors.required">Sequence is
                                <strong>required</strong></span>
                            <span *ngIf="dfControls.sequence.errors.min">Sequence must be
                                <strong>positive</strong></span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <label>Description</label>
                        <textarea autocomplete="off" class="form-control" formControlName="description"
                            [ngClass]="{'is-valid':dfControls.description.touched && !dfControls.description.errors,
                               'is-invalid':dfControls.description.touched && dfControls.description.errors }"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="isActive" formControlName="isActive"
                                class="custom-control-input" />
                            <label for="isActive" class="custom-control-label">
                                Active
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="goBack()"><i
                        class="pe-7s-back pr-1"></i> Back </button>
                <button type="submit" [disabled]="benefitForm.invalid" class="mb-2 btn btn-primary"><i
                        class="fa fa-save pr-1"></i> Save </button>
            </div>
        </form>
    </div>
</div>