
<div class="p-1"><button class="btn btn-primary" (click)="showAlert()">Show Simple Alert</button></div>
<div class="p-1"><button class="btn btn-primary" (click)="confirmAlert()">Confirm Alert</button></div>
<div class="p-1"><button class="btn btn-primary" (click)="confirmTerminated()">Auto Terminated Alert</button></div>
<div class="p-1"><button class="btn btn-primary" (click)="loading(true)">Loading Start</button></div>
<div class="p-1"><button class="btn btn-primary" (click)="loading(false)">Loading Stop</button></div>
<div class="p-1"><button class="btn btn-primary" (click)="fnGenerateTosterSuccess()">Toster Success</button></div>
<div class="p-1"><button class="btn btn-primary" (click)="fnGenerateTosterDanger()">Toster Danger</button></div>
<div class="p-1"><button class="btn btn-primary" (click)="fnGenerateTosterInfo()">Toster Info</button></div>
<div class="p-1"><button class="btn btn-primary" (click)="fnGenerateTosterWarning()">Toster Warning</button></div>
<div class="p-1"><button class="btn btn-primary" (click)="fnGenerateTitleTosterSuccess()">Title Toster Success</button></div>
<div class="p-1"><button class="btn btn-primary" (click)="fnGenerateTitleTosterWarning()">Title Toster Warning</button></div>


<div class="toast fm-toast">
    <div class="toast-header">
        <strong class="mr-auto">Berger-Color Of Happiness</strong>
      <small>11 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" >
        <span >&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>