<div class="col col-md-12">
    <app-p-table [pTableSetting]="ptableSettings" [pTableMasterData]="products"
        (cellClickCallbackFn)="fnViewProduct($event)" (customActivityOnRecord)="fnCustomTrigger($event)">
    </app-p-table>
</div>
