
<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">{{getComponentTitle()}}</div>
        <!-- <div class="btn-actions-pane-right">
            <button type="button" class="mb-2 mr-2 btn-transition btn btn-outline-success" (click)="fnRouteProdList()">
                <fa class="mr-2" name="list"></fa>
                Back to list
            </button>
        </div> -->
    </div>
    <div class="card-body">
        <form [formGroup]="colorCodeForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Shade Sequence</label>
                        <input type="text" autocomplete="off" class="form-control" formControlName="shadeSequence"
                               [ngClass]="{'is-valid':formControls.shadeSequence.touched && !formControls.shadeSequence.errors,
                               'is-invalid':formControls.shadeSequence.touched && formControls.shadeSequence.errors }" />
                        <small class="text-danger" *ngIf="formControls.shadeSequence.touched && formControls.shadeSequence.errors">
                            <span *ngIf="formControls.shadeSequence.errors.required">Shade Sequence is <strong>required</strong></span>
                            <span *ngIf="formControls.shadeSequence.errors.pattern">Please, Enter valid characters (not only spaces)</span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Shade Code</label>
                        <input type="text" autocomplete="off" class="form-control" formControlName="shadeCode"
                               [ngClass]="{'is-valid':formControls.shadeCode.touched && !formControls.shadeCode.errors,
                               'is-invalid':formControls.shadeCode.touched && formControls.shadeCode.errors }" />
                        <small class="text-danger" *ngIf="formControls.shadeCode.touched && formControls.shadeCode.errors">
                            <span *ngIf="formControls.shadeCode.errors.required">Shade Code is <strong>required</strong></span>
                            <span *ngIf="formControls.shadeCode.errors.pattern">Please, Enter valid characters (not only spaces)</span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label class="required">R</label>
                        <input type="text" autocomplete="off" class="form-control" formControlName="r"
                               [ngClass]="{'is-valid':formControls.r.touched && !formControls.r.errors,
                               'is-invalid':formControls.r.touched && formControls.r.errors }" />
                        <small class="text-danger" *ngIf="formControls.r.touched && formControls.r.errors">
                            <span *ngIf="formControls.r.errors.required">R is <strong>required</strong></span>
                            <span *ngIf="formControls.r.errors.pattern">Please, Enter valid number</span>
                        </small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label class="required">G</label>
                        <input type="text" autocomplete="off" class="form-control" formControlName="g"
                               [ngClass]="{'is-valid':formControls.g.touched && !formControls.g.errors,
                               'is-invalid':formControls.g.touched && formControls.g.errors }" />
                        <small class="text-danger" *ngIf="formControls.g.touched && formControls.g.errors">
                            <span *ngIf="formControls.g.errors.required">G is <strong>required</strong></span>
                            <span *ngIf="formControls.g.errors.pattern">Please, Enter valid number</span>
                        </small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label class="required">B</label>
                        <input type="text" autocomplete="off" class="form-control" formControlName="b"
                               [ngClass]="{'is-valid':formControls.b.touched && !formControls.b.errors,
                               'is-invalid':formControls.b.touched && formControls.b.errors }" />
                        <small class="text-danger" *ngIf="formControls.b.touched && formControls.b.errors">
                            <span *ngIf="formControls.b.errors.required">B is <strong>required</strong></span>
                            <span *ngIf="formControls.b.errors.pattern">Please, Enter valid number</span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="goBack()"><i class="pe-7s-back pr-1"></i> Back </button>
                <button type="submit" [disabled]="colorCodeForm.invalid" class="mb-2 btn btn-primary"><i class="fa fa-save pr-1"></i> Save </button>
            </div>
        </form>
    </div>
</div>
