
<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">{{getComponentTitle()}}</div>
        <!-- <div class="btn-actions-pane-right">
            <button type="button" class="mb-2 mr-2 btn-transition btn btn-outline-success" (click)="fnRouteProdList()">
                <fa class="mr-2" name="list"></fa>
                Back to list
            </button>
        </div> -->
    </div>
    <div class="card-body">
        <form [formGroup]="loyaltyProgramPointForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label class="required">Product Cost</label>
                        <input type="text" autocomplete="off" class="form-control" formControlName="productCost"
                               [ngClass]="{'is-valid':formControls.productCost.touched && !formControls.productCost.errors,
                               'is-invalid':formControls.productCost.touched && formControls.productCost.errors }" />
                        <small class="text-danger" *ngIf="formControls.productCost.touched && formControls.productCost.errors">
                            <span *ngIf="formControls.productCost.errors.required">Product Cost is <strong>required</strong></span>
                            <span *ngIf="formControls.productCost.errors.pattern">Please, Enter valid number</span>
                        </small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label class="required">Painter Cost</label>
                        <input type="text" autocomplete="off" class="form-control" formControlName="painterCost"
                               [ngClass]="{'is-valid':formControls.painterCost.touched && !formControls.painterCost.errors,
                               'is-invalid':formControls.painterCost.touched && formControls.painterCost.errors }" />
                        <small class="text-danger" *ngIf="formControls.painterCost.touched && formControls.painterCost.errors">
                            <span *ngIf="formControls.painterCost.errors.required">Painter Cost is <strong>required</strong></span>
                            <span *ngIf="formControls.painterCost.errors.pattern">Please, Enter valid number</span>
                        </small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label class="required">Supervision Charge</label>
                        <input type="text" autocomplete="off" class="form-control" formControlName="supervisionCharge"
                               [ngClass]="{'is-valid':formControls.supervisionCharge.touched && !formControls.supervisionCharge.errors,
                               'is-invalid':formControls.supervisionCharge.touched && formControls.supervisionCharge.errors }" />
                        <small class="text-danger" *ngIf="formControls.supervisionCharge.touched && formControls.supervisionCharge.errors">
                            <span *ngIf="formControls.supervisionCharge.errors.required">Supervision Charge is <strong>required</strong></span>
                            <span *ngIf="formControls.supervisionCharge.errors.pattern">Please, Enter valid number</span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="goBack()"><i class="pe-7s-back pr-1"></i> Back </button>
                <button type="submit" [disabled]="loyaltyProgramPointForm.invalid" class="mb-2 btn btn-primary"><i class="fa fa-save pr-1"></i> Save </button>
            </div>
        </form>
    </div>
</div>
