<div class="card-shadow-warning border mb-3 card card-body border-warning">
    <h5 class="card-title"><strong>Work Id:</strong> {{serviceRequisition.workId}} </h5>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <p><span><strong>Contact Name:</strong></span> {{serviceRequisition.contactName}}</p>
            </div>
            <div class="col-sm-6">
                <p><span><strong>Contact Person No:</strong></span> {{serviceRequisition.contactNo }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><span><strong>Address:</strong></span> {{serviceRequisition.addressLine1}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <app-p-table [pTableSetting]="ptableSettings" [pTableMasterData]="serviceRequisition.serviceRequisitionDetails"
                >
                </app-p-table>
                <div class="d-flex justify-content-end">
                    <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="goBack()"><i class="pe-7s-back pr-1"></i> Back </button>
                </div>
            </div>            
        </div>
    </div>
</div>

