<div class="col col-md-12">
    <app-p-table [pTableSetting]="ptableSettings" [pTableMasterData]="thanas"
                 (customActivityOnRecord)="fnCustomTrigger($event)">
    </app-p-table>
</div>
