<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">{{getComponentTitle()}}</div>
    </div>
    <div class="card-body" *ngIf="productForm">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-4">
                    <label>Surface Type</label>
                    <ng-select formControlName="surfaceType">
                        <ng-option *ngFor="let type of surfaceTypes" [value]="type.value">
                            {{type.text}}
                        </ng-option>
                    </ng-select>
                </div>
                <div class="col-md-8">
                    <div class="position-relative form-group">
                        <label class="required">Product Name</label>
                        <input type="text" autocomplete="off" class="form-control" formControlName="name"
                               [ngClass]="{'is-valid':dfControls.name.touched && !dfControls.name.errors,
                               'is-invalid':dfControls.name.touched && dfControls.name.errors }" />
                        <small class="text-danger" *ngIf="dfControls.name.touched && dfControls.name.errors">
                            <span *ngIf="dfControls.name.errors.required">Name is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <label class="required">Description</label>
                        <textarea autocomplete="off" class="form-control" formControlName="description"
                               [ngClass]="{'is-valid':dfControls.description.touched && !dfControls.description.errors,
                               'is-invalid':dfControls.description.touched && dfControls.description.errors }"></textarea>
                        <small class="text-danger" *ngIf="dfControls.description.touched && dfControls.description.errors">
                            <span *ngIf="dfControls.description.errors.required">Description is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <!-- <input type="file" class="form-control" formControlName="image"
                                (change)="onFileChange($event)" accept="image/*"
                               [ngClass]="{'is-valid':dfControls.image.touched && !dfControls.image.errors,
                               'is-invalid':dfControls.image.touched && dfControls.image.errors }" /> -->
                               <app-image-uploader (onChangeFile)="onChangeFile($event)" [url]="product.imageUrl" 
                            [title]="'Product Image'" [width]="'300px'" [height]="'180px'" [removable]="true">
                        </app-image-uploader>
                        <!-- <small class="text-danger" *ngIf="dfControls.image.touched && dfControls.image.errors">
                            <span *ngIf="dfControls.image.errors.required">Product Image is <strong>required</strong></span>
                        </small> -->
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label >Paint Cost</label>
                        <input type="number" autocomplete="off" class="form-control" formControlName="paintCost"
                               [ngClass]="{'is-valid':dfControls.paintCost.touched && !dfControls.paintCost.errors,
                               'is-invalid':dfControls.paintCost.touched && dfControls.paintCost.errors }"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label >Sealer Cost</label>
                        <input type="number" autocomplete="off" class="form-control" formControlName="sealerCost"
                               [ngClass]="{'is-valid':dfControls.sealerCost.touched && !dfControls.sealerCost.errors,
                               'is-invalid':dfControls.sealerCost.touched && dfControls.sealerCost.errors }"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label >Putty Cost</label>
                        <input type="number" autocomplete="off" class="form-control" formControlName="puttyCost"
                               [ngClass]="{'is-valid':dfControls.puttyCost.touched && !dfControls.puttyCost.errors,
                               'is-invalid':dfControls.puttyCost.touched && dfControls.puttyCost.errors }"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label >Top Coat Cost</label>
                        <input type="number" autocomplete="off" class="form-control" formControlName="topCoatCost"
                               [ngClass]="{'is-valid':dfControls.topCoatCost.touched && !dfControls.topCoatCost.errors,
                               'is-invalid':dfControls.topCoatCost.touched && dfControls.topCoatCost.errors }"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label>Base Coat Cost</label>
                        <input type="number" autocomplete="off" class="form-control" formControlName="baseCoatCost"
                               [ngClass]="{'is-valid':dfControls.baseCoatCost.touched && !dfControls.baseCoatCost.errors,
                               'is-invalid':dfControls.baseCoatCost.touched && dfControls.baseCoatCost.errors }"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label >Primer Cost</label>
                        <input type="number" autocomplete="off" class="form-control" formControlName="primerCost"
                               [ngClass]="{'is-valid':dfControls.primerCost.touched && !dfControls.primerCost.errors,
                               'is-invalid':dfControls.primerCost.touched && dfControls.primerCost.errors }"/>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="isActive" 
                                formControlName="isActive" class="custom-control-input" />
                            <label for="isActive" class="custom-control-label">
                                Active
                            </label>
                        </div>
                      </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="goBack()"><i class="pe-7s-back pr-1"></i> Back </button>
                <button type="submit" [disabled]="productForm.invalid" class="mb-2 btn btn-primary"><i class="fa fa-save pr-1"></i> Save </button>
            </div>
        </form>
    </div>
</div>
