<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="btn-actions-pane-right">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input"(change)="toggle()" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1" >{{text}}</label>
              </div>        
        </div>
    </div>
    <div class="col col-md-12">
        <app-p-table [pTableSetting]="ptableSettings" [pTableMasterData]="serviceRequisitions"
        (cellClickCallbackFn)="fnViewDetails($event)">
        </app-p-table>
    </div>
</div>
