body{
  font-family: 'Montserrat', sans-serif;
}

// custom css 
.sticky-card {
    position: sticky;
    top: 60px;
    z-index: 8;
  }

.logo-src {
    position: relative;

    &::after {
        content: "Berger Value Club";
        white-space: nowrap;
        position: absolute;
        left: 100%;
        bottom: 11px;
        color: #231F20;
        font-weight: bold;
    }
}
  .closed-sidebar .logo-src::after{
    display: none;
  }
  
  .fm-toast{
    opacity: 1;
    .toast-header{
      background: #00ADEF;
      color: #fff;
    }
    .close{
      color: #fff;
    }
  }
  
  .survey-generation-form{
    .btn-outline-info{
      &:disabled{
        color: #fff;
        background-color: #2FA4E7;
        border-color: #2FA4E7
      }
    }
    .btn-outline-danger{
      &:disabled{
        color: #212529;
        background-color: #da9297;
        border-color: #da9297;
      }
    }
  }
  
  .btn-outline-danger{
    &:hover{
      color: #fff;
    }
  }
  
  .p-table .popover{
    min-width: 250px;
  }
  .btn-danger{
    color: #fff;
  }
  :disabled,.disabled{
    cursor: not-allowed;
  }
  .role-table thead th.name{
    width: 70%!important;
  }
  .menu-list-area  {
    .ng-select-container{
      color: #00ADEF;
      border-color:#00ADEF;
    }
    .ng-clear{
      color: #00ADEF;
    }
    .ng-select .ng-arrow-wrapper .ng-arrow {
      border-color: #00ADEF transparent transparent;
  }
  }
  .unauthorize-carousel .carousel-control-prev,
  .unauthorize-carousel .carousel-control-next{
      background:transparent;
  }
  .unauthorize-carousel .carousel-inner:focus,
  .unauthorize-carousel .carousel.slide:focus,
  .unauthorize-carousel .carousel-item:focus{
      outline: none;
  }
  
  .cm-task-accordion .accordion .card:first-of-type,
  .posm-accordion .accordion .card:first-of-type,
  .cm-task-accordion .accordion .card:last-of-type,
  .posm-accordion .accordion .card:last-of-type{
      border-bottom: 1px solid rgba(19, 83, 77, 0.125);
      border-radius: 0.25rem;
  }
  .cm-activity-form .accordion .card  .card-header{
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
    padding:0;
    &.table-card-header {
      padding: 0.75rem 1.25rem;
    }
    .card-header-content{
      padding: 0.75rem 1.25rem;
    }
  }
  
  // role dropdown
  .role-dropdown{
    background: #fff;
    min-width: 250px;
    display: inline-block;
    border-radius: 5px;
    .menu-list-delete, .menu-list-edit,.menu-list-plus{
      cursor: pointer;
    }
    .menu-list-delete{
      color: #da9297;;
    }
    .role-dropdown-item{
        display: block;
        width: 100%;
        padding: 0.4rem 1rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        position: relative;
        &:hover{
          color: #16181b;
          text-decoration: none;
          background: #d1f3ff linear-gradient(180deg, #d8f5ff, #d1f3ff) repeat-x;
        }
        
        .sub-role-dropdown{
          position: relative;
          left: 0;
          top: 0;
          display: none;
          padding-left: 0;
          background: #fff;
          border-left: 1px dashed #777;
          .role-dropdown-item{
            &::before{
              position: absolute;
              content: "";
              width: 20px;
              height: 20px;
              border-bottom: 1px dashed #777;
              background: transparent;
              left: 0;
              top: -2px;
            }
          }
        }
        .custom-control-input{
          &:checked~.sub-role-dropdown{
            display: block;
          }
        }
  
    }
  }
  .role-select,
  .role-select:focus,
  .role-select:active{
    color: #fff;
    background: #00ADEF linear-gradient(180deg, #4bc5b9, #00ADEF) repeat-x;
    border-color: #00ADEF;
    option{
      background: #fff;
      color:#495057;
    }
  }
.card-header.sticky-card{
  border-top: 5px solid #00ADEF;
}
.main-card .p-table-content{
  border-top: none!important;
}
.app-role-list .statusText{
  width:100%!important;
}
.posm-product-approval select {
    -moz-appearance: none;
    -webkit-appearance:none;
}
.card-berger{
    margin-bottom: 8px;
    padding: 18px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-number{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 3px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 600;
      margin-right: 10px;
    }
    .card-text{
      font-weight: 500;
      
    }
    &.bg-orange{
      background: linear-gradient(115.93deg, #F14C37 2.27%, #FFBA52 97.63%);
      box-shadow: 0px 5px 10px rgba(255, 196, 166, 0.75);
    }
    &.bg-blue{
      background: linear-gradient(115.93deg, #00ABF4 2.27%, #03ED9E 97.63%);
      box-shadow: 0px 5px 10px #B0FFE8;
    }
    &.bg-purple{
      background: linear-gradient(115.93deg, #BF0DEC 2.27%, #F74D8A 52.43%, #FEC246 94.92%);
      box-shadow: 0px 5px 10px rgba(255, 190, 156, 0.75);
    }
    &.bg-green{
      background: linear-gradient(115.93deg, #14BD5C 2.27%, #A6E208 97.63%);
      box-shadow: 0px 5px 10px #E3FFA3;
    }
    .flex-left{
      flex: 0 0 34%;
    }
    .flex-right{
      flex: 0 0 66%;
    }
}
// tabs
.graph-tab {
  .nav-pills{
    .nav-link{
     &.active{
      background: linear-gradient(90deg, #01B7E7 2.5%, #02CFC7 100%);
     } 
    }
  }
  .nav-link{
    background: #EFF3F5;
    color: #696A76;
    margin-right: 8px;
  }
  .tab-content{
    padding: 15px 15px 15px 0;
  }
}
//dashboard-table
.dashboard-table{
  thead{
    background: linear-gradient(143.88deg, #00ACF3 10.16%, #03EAA2 141.14%);
    color: #fff;
  }
  th, td{
    border-right: 1px solid #D2D6DD;
    &:last-child{
      border-right: none;
    }
  }

}