<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">{{getComponentTitle()}}</div>
    </div>
    <div class="card-body" *ngIf="paintingServiceForm">
        <form [formGroup]="paintingServiceForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-6">
                    <label>Surface Type</label>
                    <ng-select formControlName="surfaceType" (change)="loadProducts()"
                    [ngClass]="{'is-valid':dfControls.surfaceType.touched && !dfControls.surfaceType.errors,
                    'is-invalid':dfControls.surfaceType.touched && dfControls.surfaceType.errors }">
                        <ng-option *ngFor="let type of surfaceTypes" [value]="type.value">
                            {{type.text}}
                        </ng-option>
                    </ng-select>
                    <small class="text-danger" *ngIf="dfControls.surfaceType.touched && dfControls.surfaceType.errors">
                        <span *ngIf="dfControls.surfaceType.errors.required">Surface Type is <strong>required</strong></span>
                    </small>
                </div>
                <div class="col-md-6" [hidden]="!showSurfaceCondition">
                    <label>Surface Condition</label>
                    <ng-select formControlName="surfaceCondition" (change)="loadProducts()"
                    [ngClass]="{'is-valid':dfControls.surfaceCondition.touched && !dfControls.surfaceCondition.errors,
                    'is-invalid':dfControls.surfaceCondition.touched && dfControls.surfaceCondition.errors }">
                        <ng-option *ngFor="let type of surfaceConditions" [value]="type.value">
                            {{type.text}}
                        </ng-option>
                    </ng-select>
                    <!-- <small class="text-danger" *ngIf="dfControls.surfaceCondition.touched && dfControls.surfaceCondition.errors">
                        <span *ngIf="dfControls.surfaceCondition.errors.required">Surface Condition is <strong>required</strong></span>
                    </small> -->
                </div>
            </div>
            <hr>
            <div class="form-row" *ngIf="showGrid">
                <div class="col-md-12">
                    <table class="p-table table table-hover table-striped table-bordered table-list table-sm">
                        <thead style="background: linear-gradient(143.88deg, #00ACF3 10.16%, #03EAA2 141.14%);
                        color: #fff;">
                            <tr>
                                <th rowspan=2 style="width: 40%; vertical-align: middle;">Product Name</th>
                                <th colspan=3 style="width: 60%; text-align: center;">Rate/Sft</th>
                            </tr>
                            <tr>
                                <th>Platinum</th>
                                <th>Gold</th>
                                <th>Silver</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rates of rControls.controls; let i = index" [formGroup]="rates">
                                <td>
                                    <!-- <input type="text" formControlName="productName" class="form-control"
                                    [disabled]="true"/> -->
                                    {{rates.value.productName}}
                                </td>
                                <td>
                                    <div class="input-group input-group-sm mb-3">
                                        <input type="number" formControlName="platinumRatePerSft" class="form-control form-control-sm" 
                                        [ngClass]="{ 'is-invalid': submitted && ticket.controls.name.errors }" />
                                        <div class="input-group-append">
                                          <span class="input-group-text">BDT</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm mb-3">
                                        <input type="number" formControlName="goldRatePerSft" class="form-control form-control-sm" 
                                        [ngClass]="{ 'is-invalid': submitted && ticket.controls.goldRatePerSft.errors }" />
                                        <div class="input-group-append">
                                          <span class="input-group-text">BDT</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm mb-3">
                                        <input type="number" formControlName="silverRatePerSft" class="form-control form-control-sm" 
                                        [ngClass]="{ 'is-invalid': submitted && ticket.controls.silverRatePerSft.errors }" />
                                        <div class="input-group-append">
                                          <span class="input-group-text">BDT</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <hr/> -->
            <div class="form-row" *ngIf="showBottomRow">
                <div class="col-md-4" *ngIf="showAdditionalColums">
                    <label>Additional for 7-9th Floor(per sft)</label>
                    <div class="input-group mb-3">
                        <input type="number" formControlName="sevenToNine" class="form-control"/>
                        <div class="input-group-append">
                          <span class="input-group-text">BDT</span>
                        </div>
                      </div>
                </div>
                <div class="col-md-4" *ngIf="showAdditionalColums">
                    <label>Additional for above 9th Floor(per sft)</label>
                    <div class="input-group mb-3">
                        <input type="number" formControlName="aboveNine" class="form-control"/> 
                        <div class="input-group-append">
                          <span class="input-group-text">BDT</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>VAT %</label>
                    <div class="input-group mb-3">
                        <input type="number" formControlName="vat" class="form-control"/>
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end" *ngIf="showGrid">
                <button type="submit" [disabled]="paintingServiceForm.invalid" class="mb-2 btn btn-primary"><i class="fa fa-save pr-1"></i> Save </button>
            </div>
        </form>
    </div>
</div>
