<div class="card-shadow-warning border mb-3 card card-body border-warning"><h5 class="card-title"><strong>Complain Type:</strong> {{complainModel.displayComplainType}}</h5>
    <p><span><strong>Details:</strong></span> {{complainModel.complainDetails}}</p>

    <div class="d-flex justify-content-end">
        <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="backToTheList()"><i class="pe-7s-back pr-1"></i> Back </button>
    </div>
</div>