
<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">{{getComponentTitle()}}</div>
        <!-- <div class="btn-actions-pane-right">
            <button type="button" class="mb-2 mr-2 btn-transition btn btn-outline-success" (click)="fnRouteProdList()">
                <fa class="mr-2" name="list"></fa>
                Back to list
            </button>
        </div> -->
    </div>
    <div class="card-body" *ngIf="districtForm">
        <form [formGroup]="districtForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">District Name</label>
                        <input type="text" autocomplete="off" class="form-control" formControlName="name"
                               [ngClass]="{'is-valid':dfControls.name.touched && !dfControls.name.errors,
                               'is-invalid':dfControls.name.touched && dfControls.name.errors }" />
                        <small class="text-danger" *ngIf="dfControls.name.touched && dfControls.name.errors">
                            <span *ngIf="dfControls.name.errors.required">Name is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Division</label>
                        <ng-select formControlName="divisionId">
                            <!-- <ng-option>--Select--</ng-option> -->
                            <ng-option *ngFor="let division of divisions;" [value]="stringToInt(division.value)">{{division.text}}</ng-option>
                        </ng-select>
                        <small class="text-danger" *ngIf="dfControls.divisionId.touched && dfControls.divisionId.errors">
                            <span *ngIf="dfControls.divisionId.errors.required">Division is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="isActive" 
                                formControlName="isActive" class="custom-control-input" />
                            <label for="isActive" class="custom-control-label">
                                Active
                            </label>
                        </div>
                      </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="goBack()"><i class="pe-7s-back pr-1"></i> Back </button>
                <button type="submit" [disabled]="districtForm.invalid" class="mb-2 btn btn-primary"><i class="fa fa-save pr-1"></i> Save </button>
            </div>
        </form>
    </div>
</div>
