
<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">{{getComponentTitle()}}</div>
    </div>
    <div class="card-body" *ngIf="thanaForm">
        <form [formGroup]="thanaForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">Thana Name</label>
                        <input type="text" autocomplete="off" class="form-control" formControlName="name"
                               [ngClass]="{'is-valid':tfControls.name.touched && !tfControls.name.errors,
                               'is-invalid':tfControls.name.touched && tfControls.name.errors }" />
                        <small class="text-danger" *ngIf="tfControls.name.touched && tfControls.name.errors">
                            <span *ngIf="tfControls.name.errors.required">Name is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label class="required">District</label>
                        <ng-select formControlName="districtId">
                            <!-- <ng-option>--Select--</ng-option> -->
                            <ng-option *ngFor="let district of districts;" [value]="stringToInt(district.value)">{{district.text}}</ng-option>
                        </ng-select>
                        <small class="text-danger" *ngIf="tfControls.districtId.touched && tfControls.districtId.errors">
                            <span *ngIf="tfControls.districtId.errors.required">District is <strong>required</strong></span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <div class="custom-checkbox custom-control custom-control-inline">
                            <input type="checkbox" id="isActive" 
                                formControlName="isActive" class="custom-control-input" />
                            <label for="isActive" class="custom-control-label">
                                Active
                            </label>
                        </div>
                      </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="mb-2 mr-2 btn-hover-shine btn btn-dark" (click)="goBack()"><i class="pe-7s-back pr-1"></i> Back </button>
                <button type="submit" [disabled]="thanaForm.invalid" class="mb-2 btn btn-primary"><i class="fa fa-save pr-1"></i> Save </button>
            </div>
        </form>
    </div>
</div>
